---

---
<footer>
    <small>
        Joaquin Reynoso <span id="copyright"></span> 
    </small>
</footer>

<style>
    footer {
        padding: 3em 1em;
        text-align: center;
        box-shadow: 0 -5px 10px 0 #ddd;
        background: #101010;
        color: #fff;
    }
</style>

<script>
    document.querySelector('#copyright').textContent = new Date().getFullYear().toString();
</script>